# Compilación / binarios
target/
out/
build/

# Archivos de dependencias descargadas
dependency-reduced-pom.xml

# Archivos de IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.classpath
*.project
*.settings/

# Logs y temporales
*.log
*.tmp
*.swp
*.swo

# Sistemas operativos
.DS_Store
Thumbs.db

# Cobertura / reporting
.coverage
jacoco.exec
*.exec
*.ec
*.lcov
coverage/
site/

# Archivos generados por test
hs_err_pid*
